
<div class="container">
  <h1 class="text-center top-buffer">Access Management Platform </h1>
  <h2 class="text-center top-buffer">Add New Employee</h2>
  <form class="form-horizontal" role="form" action="/users/addemployee" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <div class="alert alert-danger" role="alert" id="msgDiv"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label" for="employeename"> <strong>Employee Name</strong></label>
      <div class="col-sm-9">
        <input class="form-control" id="employeename" type="text" name="employee_name" placeholder="Employee Name" autofocus="" value=""/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label" for="providername"> <strong>Provider Name</strong></label>
      <div class="col-sm-9">
        <select class="form-control" id="providername" name="provider_name">
          <option value="">Please Select</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label" for="contactperson"> <strong>Contact Person</strong></label>
      <div class="col-sm-9">
        <input class="form-control" id="CPerson" type="text" name="contactperson" placeholder="Contact Person"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-6 control-label" for="External Person"> <strong>External Person</strong></label>
      <div class="col-sm-9">
        <input class="form-control" id="Eperson" type="Text" name="externalperson" placeholder="External Person"/>
        <div class="form-group"></div>
      </div>
      <label class="col-sm-3 control-label" for="Daily Rates"> <strong>Daily Rates</strong></label>
      <div class="col-sm-9">
        <input class="form-control" id="rate" type="Text" name="rate" placeholder="Daily Rates"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-9 control-label" for="dateuntil"> <strong>Date Until</strong></label>
      <div class="col-sm-9">
        <input class="form-control" id="dateuntil" type="date" name="dateuntil"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label" for="Notes"> <strong>Notes</strong></label>
      <div class="col-sm-9">
        <textarea id="notes" name="notes" rows="4" cols="45"></textarea>
        <div class="form-group"></div>
      </div>
      <label class="col-sm-3 control-label" for="documents"> <strong>Documents</strong></label>
      <div class="col-sm-9">
        <input class="form-control" id="document" type="file" name="file"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <button class="btn btn-primary btn-block" id="addemployee" type="e">Save</button>
      </div>
    </div>
  </form>
</div>