<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Update</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center top-buffer">Access Management Platform</h1>
        <h2 class="text-center top-buffer">Profile Update</h2>
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group">
                <div class="alert alert-danger" role="alert" id="msgDiv"></div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="firstname">
                    <strong>First Name</strong>
                </label>
                <div class="col-sm-9">
                    <input id="firstname" class="form-control" type="text" name="firstname" placeholder="First Name" autofocus="" value="{{ user.firstname }}">
                </div>
                <br>
            </div>

            <!-- Repeat similar blocks for other form fields -->

            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button id="update" class="btn btn-primary btn-block" type="e">Update</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
