<!DOCTYPE html>
<head>
  <link rel="icon" href="/images/favicon.ico">
  <style>
    body { 
      margin: 0;  
      padding: 0;  
      background-color:#6abadeba;
      background-image: url("/images/background.jpeg");  
      font-family: 'Arial';  
    } 
    table, th, td {
    border:1px solid black;
    }
  </style>
</head>
<h1 class="text-center top-buffer">Access Management Platform </h1>
<h1>List of Employees</h1>
<table style="width:100%">
  <tr>
    <th>Provider Name</th>
    <th>Contact Person</th>
    <th>Employee Name</th>
    <th>External person</th>
    <th>Daily rate</th>
    <th>Note </th>
    <th>Documents</th>
    <th>Date Until</th>
    <th>Status </th>
    <tr></tr>
    <td>Provider 1</td>
    <td>Muller </td>
    <td>Veena </td>
    <td>100</td>
    <td>50</td>
    <td>available from march </td>
    <td>Documents </td>
    <td>December </td>
    <td>Rejected</td>
    <tr></tr>
    <td>Provider 1</td>
    <td>Anna </td>
    <td>Kiran </td>
    <td>100</td>
    <td>50</td>
    <td>available from march </td>
    <td>Documents </td>
    <td>March</td>
    <td>Accepted</td>
    <tr></tr>
    <td>Provider 1</td>
    <td>Anna </td>
    <td>Jasim</td>
    <td>100</td>
    <td>50</td>
    <td>available from march </td>
    <td>Documents </td>
    <td>January</td>
    <td>Pending</td>
    <tr></tr>
    <td>Provider 1</td>
    <td>Anna </td>
    <td>xxxx</td>
    <td>100</td>
    <td>50</td>
    <td>available from march </td>
    <td>Documents </td>
    <td>January</td>
    <td>Pending</td>
  </tr>
</table>