<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/favicon.ico">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #6abadeba;
            font-family: 'Arial';
        }

        h1,
        h2 {
            text-align: center;
        }

        table,
        th,
        td {
            border: 1px solid blue;
        }
    </style>
    <script src='http://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src='/javascripts/app.js'></script>
</head>

<body>
    <h1>Access Management Platform</h1>
    <h2>Agreement Bidding Details</h2>

    <table id="agreementdetailstable" style="width:100%">
        <tr>
            <th>PositionName</th>
            <th>agreementsId</th>
            <th>agreementsName</th>
            <th>Details</th>
        </tr>

        <!-- Assuming 'users' is an array defined somewhere -->
        <% users.forEach(function(user) { %>
            <tr>
                <td><%= user.positionname %></td>
                <td><%= user.agreementid %></td>
                <td><%= user.agreementName %></td>
                <td>
                    <a href="/users/biddingdetails?positionname=<%= user.positionname %>&agreementid=<%= user.agreementid %>&agreementName=<%= user.agreementName %>&positionid=<%= user.positionid %>&biddingstatus=<%= user.biddingstatus %>">Full Details</a>
                </td>
            </tr>
        <% }); %>
    </table>
</body>

</html>
