<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/favicon.ico">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #6abadeba;
            font-family: 'Arial';
        }

        h1,
        h2 {
            text-align: center;
        }

        table,
        th,
        td {
            border: 1px solid blue;
        }
    </style>
    <script src='http://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script src='/javascripts/app.js'></script>
</head>

<body>
    <h1>Access Management Platform</h1>
    <h2>Available Employees For Offer</h2>

    <table style="width:100%" border="1">
        <tr>
            <th>Employee ID</th>
            <th>PositionID</th>
            <th>Agreement ID</th>
            <th>Agreement Name</th>
            <th>employee_name</th>
            <th>provider_name</th>
            <th>date</th>
            <th></th>
        </tr>

        <!-- Assuming 'employees' and 'allid' are arrays or objects defined somewhere -->
        <% employees.forEach(function(employee) { %>
            <tr>
                <td><%= employee._id %></td>
                <td><%= allid.positionid %></td>
                <td><%= allid.agreementsid %></td>
                <td><%= allid.agreementName %></td>
                <td><%= employee.employee_name %></td>
                <td><%= employee.provider_name %></td>
                <td><%= employee.dateuntil %></td>
                <td>
                    <a href="/users/submitoffer?employee_id=<%= employee._id %>&positionid=<%= allid.positionid %>&agreementsid=<%= allid.agreementsid %>&agreementName=<%= allid.agreementName %>&employee_name=<%= employee.employee_name %>&provider_name=<%= employee.provider_name %>&contactperson=<%= employee.contactperson %>&externalperson=<%= employee.externalperson %>&rate=<%= employee.rate %>&notes=<%= employee.notes %>&dateuntil=<%= employee.dateuntil %>&document=<%= employee.document %>">select</a>
                </td>
            </tr>
        <% }); %>
    </table>
</body>

</html>
